<h1 class="text-center">Welcome to Finance Tracker</h1>
<br>
<h3>English Users</h3>
<p>Now you are a user, you can explore the entire site. In <b>My Portfolio</b> you can start adding some stocks you want to follow by adding 
the corresponding sticker like <b>AAPL (Apple)</b>, <b>GOOG (Google)</b>, <b>FB (FaceBook)</b>, etc.</p>
<p>You also can edit your user profile data in <b>My Profile</b> and search and follow other users in <b>My Friends</b>/p>
<p>
Be free to prove everything. 
</p>

<br>
<h3>Usuarios de Habla Hispana</h3>
<p>Ahora que te has registrado puedes explorar el sitio entero. En <b>My Portfolio</b> podrás empezar a añadir acciones de la Bolsa de Valores que te 
interese seguir o consultar usando su Sticker para buscarlas como <b>AAPL (Apple)</b>, <b>GOOG (Google)</b>, <b>FB (FaceBook)</b>, <b>EC (Ecopetrol)</b>, etc</p>
<p>Tambien podrás editar tu perfil en <b>My Profile</b> y buscar y hacerte amigo de otros usuarios en <b>My Friends</b></p>
<p>Sientete libre de probar todo</p>
<br>